<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>examples.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>012B9F831390940A00D8BD95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0196D0331390EAEE00B000E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0196D0401390EB2E00B000E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0196D04D1390EB4900B000E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
