<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>angelscript-build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>angelscript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01D08F70139065F8005D9954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01D091CC139077FB005D9954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01D091D11390796D005D9954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01D091D713907AF7005D9954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
